<h2>Heres all my dinosaurs</h2>
<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% for (let dino of dinos) { %> 
        <p><%= dino.name %></p>
        <p><%= dino.type %></p>
    <% } %>

    <%= dinos[0].name %>
</ul>